@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');

html, body {
    background-color: #b34f0d;
    font-family: 'Ubuntu Mono', monospace;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}